@font-face {
    font-family: Hack;
    src: url("../public/shared/fonts/hack/HACKNERDFONTPROPO-REGULAR.TTF") format("opentype");
}

@font-face {
    font-family: HackBold;
    font-weight: Bold;
    src: url("../public/shared/fonts/hack/HACKNERDFONTPROPO-BOLD.TTF") format("opentype");
}