@font-face {
    font-family: "Hack";
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url("/shared/fonts/hack/HACKNERDFONTPROPO-REGULAR.TTF")
        format("truetype");
}

@font-face {
    font-family: "HackBold";
    font-style: normal;
    font-weight: 700;
    font-display: swap;
    src: url("/shared/fonts/hack/HACKNERDFONTPROPO-BOLD.TTF") format("truetype");
}
